body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.input-group,
.toggle-group,
.button-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: #ffffff;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-left: 10px;
}

.table-container {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #333;
}

th {
  background-color: #333;
}

button {
  width: 100%;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

button:hover {
  background-color: #45a049;
}

button.delete {
  background-color: #d9534f;
}

button.delete:hover {
  background-color: #c9302c;
}

.button-group button {
  margin-bottom: 10px;
}

.toggle-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#keywordsTable {
  font-size: 18px;
  font-weight: bold;
}

#addPoliticsKeywords {
  margin-bottom: 10px;
}
